#home {
  background-color: white;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

.banner-area {
  display: flex;
}

.banner-left h1 span {
  text-transform: uppercase;
  font-weight: 600;
}

.banner-text {
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 40px;
}

.img-fluid {
  max-width: 80% !important;
  height: auto;
  vertical-align: middle;
  margin-top: 30px;
}
