@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
@import 'banner.css';
@import 'info.css';

* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;;
}

body {
  background-color: #faf3f3;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
}

ul {
  display: block;
  padding-inline-start: 0;
}

li {
  list-style: none;
  display: inline;
  font-size: 25px;
}

h1 {
  color: #848ccf;
  font-size: 30px;
}

h2 {
  color: #93b5e1;
  font-size: 20px;
  font-weight: lighter;
}

a {
  background-color: white;
  color: #848ccf;
  text-decoration: none;
}

a:hover {
  color: #be5683;
}

.container {
  margin: 20px auto;
  min-width: 60%;
}

#logo {
  width: 250px;
  border-radius: 20%;
  margin-top: 30px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}